/*Color Palette
============================
Dark Slate Gray: #49554e
Dim Gray: #616758
Brownish: #65514c
Teal: #155055
Tan: #c0c1ad

*/

/*fonts
===========================
font-family: 'Kavivanar', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Limelight', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Righteous', cursive;
font-family: 'Voltaire', sans-serif;
font-family: 'Cutive Mono', monospace;

*/
* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/suitcases.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 15px;
    font-family: 'Cutive Mono', monospace;
    color: #c0c1ad;
    opacity: .85;
}

h1 {
    font-size: 75px;
    letter-spacing: 10px;
    font-family: 'Voltaire', sans-serif;
    text-shadow: 5px 5px 5px #000;


}

h2 {
    font-size: 28px;
}

.jumbotron {
    background-color: #155055;
    border-radius: 5px;
    text-align: center;
    border: 3px solid #c0c1ad;
}

.card {
    border-color: #2e5cb8;
    background-color: #c0c1ad;
    color: #65514c;
    border: 3px solid #c0c1ad;
}

.card-header {
    background-color: #65514c;
    font-weight: 700;

}

.card-body {
    font-weight: 700;
    font-size: 20px;
}

table {
    max-width: 1230;
    width: 100%;

}

th {
    text-align: center;
    padding-right: 10px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #155055;
}

td {
    text-align: center;
}

.btn-primary {
    background-color: #155055;
    font-size: 15px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-color: #2e3b43;
}

/* 
Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    body {
        margin: 5px;
    }

    th {
        font-size: 16px;
    }

    td {
        font-size: 14px;
        text-align: center;
    }

    label {
        font-size: 16px;
    }

    .form-group {
        margin-top: 0px;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    body {
        margin: 5px;
    }

    .app-wrapper {
        width: 80%;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
    }

    th {
        font-size: 16px;
    }

    td {
        font-size: 14px;
        text-align: center;
    }

    label {
        font-size: 16px;
    }

    .form-group {
        margin-top: 0px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    body {
        margin: 5px;
    }

    .app-wrapper {
        width: 80%;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
    }

    th {
        font-size: 16px;
    }

    td {
        font-size: 14px;
        text-align: center;
    }

    label {
        font-size: 16px;
    }

    .form-group {
        margin-top: 0px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

    body {
        margin-left: 210px;
    }

    .app-wrapper {
        width: 90%;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
    }

    th {
        font-size: 16px;
    }

    td {
        font-size: 14px;
        text-align: center;
    }

    label {
        font-size: 16px;
    }

    .form-group {
        margin-top: 0px;
    }
}